<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>124 slot cont.</title>
    <!-- 更多内容见书7.5 -->
</head>
<body>
    <div id="app">
        <p>作用域插槽</p>
        <comp-slot-scope>
            <template scope="props">
                <p>Content from upper-component</p>
                <p>{{ props.msg }}</p>
            </template>
        </comp-slot-scope>
        <hr>

        <p>列表组件</p>
        <comp-list v-bind:books_bind="booksApp">
            <template slot="bookSlot" scope="props">    <!-- 作用域插槽也可以是其他的具名插槽 -->
                <li>{{ props.bookName }}</li>
            </template>
        </comp-list>
        <hr>

        <p>访问被slot分发的内容</p>
        <comp-get-slot>
            <h2 slot="header">The header</h2>
            <p>Some content</p>
            <p>More content</p>
            <div slot="footer">Information below</div>
        </comp-get-slot>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script>
        Vue.component('comp-slot-scope', {
            template: '\
            <div class="container">\
                <slot msg="Content from lower-component"></slot>\
            </div>'
        });
        // 这里子组件中，<slot>内有一个类似props传递数据给组件的写法msg="xxx"，将数据传到了slot。
        // 父组件中使用了<template>元素，而且拥有一个scope="props"的特性，
        // 这里的props只是一个临时变量，就像v-for="item in items"里面的item一样。
        // 父组件中的template通过临时变量props访问来自子组件插槽的数据msg。

        Vue.component('comp-list', {
            props: {
                books_bind: {
                    type: Array,
                    default: function () {
                        return [];
                    }
                }
            },
            template: '\
            <ul>\
                <slot name="bookSlot"\
                    v-for="book in books_bind"\
                    v-bind:bookName="book.name">\
                </slot>\
            </ul>'
        });
        // 子组件comp-list接收一个来自父级的props数组books_bind，并且将它在name为book的slot上使用v-for指令循环，同时暴露一个变量bookName。

        Vue.component('comp-get-slot', {
            template: '\
                <div class="container">\
                    <div class="header">\
                        <slot name="header"></slot>\
                    </div>\
                    <div class="main">\
                        <slot>Content shown if no content is included in the upper-component</slot>\
                    </div>\
                    <div class="footer">\
                        <slot name="footer"></slot>\
                    </div>\
                </div>',
            mounted: function () {
                var header = this.$slots.header;
                var main = this.$slots.default;
                var footer = this.$slots.footer;
                console.log(header);
                console.log(footer);
                console.log(main[1].elm);
                console.log(footer[0].elm);
                console.log(footer[0].elm.innerHTML);
            }   // 通过$slots可以访问某个具名slot，this.$slots.default包括了所有没有被包含在具名slot中的节点
        })

        var app = new Vue ({
            el: '#app',
            data: {
                booksApp: [
                    { name: 'Vue.js Book1' },
                    { name: 'JS Book1' },
                    { name: 'JS Book2' }
                ]
            }
        })
    </script>
</body>
</html>
